@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --primary-color:#393fad;
    --primary-text-color:#2f2f2f;
    --primary-background-color: #4F55E9;

}

*{
    margin:0;
    /* overflow: hidden; */
}

body{
    font-family: "Roboto", sans-serif !important;
}

img{
    width: 100%;
}

a{
    text-decoration: none !important;
}

header{
    background-color: #f5f9ff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 15px 50px;
    font-size: 24px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    position: relative;    
}

.header-container .nav-item:nth-child(2){
    margin: auto 0;
    display: flex;
    gap:20px
}

.slogan{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 28px;
}

.logo img{
    width: 200px;
}

.nav-link, .footer-link{
    text-decoration: none !important;
    color: var(--primary-text-color) !important;
    font-weight: 600;
}

.nav-link:hover, .footer-link:hover{
    color:var(--primary-color) !important;
}

nav{
    width: 30%;
    background-color: #f5f9ff;
    padding: 5px 30px;
    box-shadow: 0 2px 0px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:125px;
    left: 35%;
    z-index: 1;
    border-radius: 10px;
}

/* main{
    margin: 100px 0;
} */

section{
    margin: 100px 0;
}

.carousel-item img{
    height: 650px !important;
    object-fit: cover;
}

.carousel-caption{
    left: 15% !important;
    text-align: left !important;
}

.carousel-caption h5{
    font-size: 40px !important;
}

.carousel-caption p{
    font-size: 24px !important;
    font-weight: bold;
    background: rgba(0,0,0,0.5);
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.reverse{
    flex-direction: row-reverse !important;
}

.title{
    text-align: center !important; 
    text-transform: uppercase;
    margin-bottom: 30px;
    color:var(--primary-color)
}

.photo-layout {
  display: grid;
  grid-template-columns: 1fr 2fr; 
  grid-template-rows: 1fr 1fr;  
  gap: 15px;
  height: 500px; 
}

.photo-layout > div {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.photo-layout img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-layout p {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  font-weight: bold;
  background: rgba(0,0,0,0.5);
  padding: 5px 10px;
  border-radius: 6px;
}

.left-top {
  grid-column: 1;
  grid-row: 1;
}

.left-bottom {
  grid-column: 1;
  grid-row: 2;
}

.right-big {
  grid-column: 2;
  grid-row: 1 / span 2; 
}

.contact-block{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 24px;
}

.contact-info p:nth-child(2){
    text-decoration: underline;
    font-style: italic;
}

.catalog-container {
  display: flex;
  gap: 20px;
  margin: 20px;
}

.filter-panel {
  width: 250px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #f9f9f9;
}

.filter-panel h3 {
  margin-bottom: 10px;
}

.filter-panel select,
.filter-panel input[type="checkbox"] {
  margin-bottom: 10px;
}

.filter-panel details summary {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 5px;
}

.books-list {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.book-card {
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  background: #fff;
  transition: transform 0.2s, box-shadow 0.2s;
    text-align: center;
}

.book-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.book-author{
    font-style: italic;
    text-align: left;
}

.book-title{
    text-align: left;
}

.book-price{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.book-card img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.book-card h4 {
  font-size: 1.1rem;
  margin-bottom: 5px;
}


.btn-wrapper{
    display: flex;
    justify-content: center;
}

.btn-primary{
    border-radius: 10px;
    background-color: var(--primary-background-color) !important;
    border: none;
    padding: 5px 10px;
    transition: all 0.3s ease;
}

.btn-primary:hover{
    background-color: #3a3fc4 !important;
    transition: all 0.3s ease;
}

.filter-items{
    margin-bottom: 30px;
}

footer{
    background-color: #f5f9ff;
    box-shadow: 0 -4px 8px rgba(0,0,0,0.1);
    padding: 15px 50px;
    font-size: 24px;
}

.footer-logo{
    width: 200px;
}

.footer-container .col-9{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.footer-container .col-1{
    margin: auto ;
}

.btn-to-up svg {
    fill:var(--primary-text-color);
    cursor:pointer;
}

.btn-to-up:hover svg {
    fill:var(--primary-color) ;
}