{% extends '../base.html' %}
{% load static %}

{% block title%} {{title_page}} {% endblock%}

{% block content%}
    <section class="login-section">
        <div class="container">
            <form class="auth-form" id="authForm" method="POST">
                {% csrf_token %}
                <h1 class="auth-title">Зарегистрироваться</h1>

                <div class="row">
                    <div class="input-block col-6">
                        <label for="name" class="auth-label">Имя:</label>
                        <input type="text" name="name" id="username" class="auth-input" required>
                    </div>
                    
                    <div class="input-block col-6">
                        <label for="surname" class="auth-label">Фамилия:</label>
                        <input type="text" name="surname" id="surname" class="auth-input" required>
                    </div>
                </div>
                
                <div class="input-block">
                    <label for="patronymic" class="auth-label">Отчество:</label>
                    <input type="text" name="patronymic" id="patronymic" class="auth-input" required>
                </div>
                
                <div class="input-block">
                    <label for="login" class="auth-label">Логин:</label>
                    <input type="text" name="login" id="login" class="auth-input" required>
                </div>
                
                <div class="input-block">
                    <label for="email" class="auth-label">Почта:</label>
                    <input type="email" name="email" id="email" class="auth-input" required>
                </div>
                
                <div class="row">
                    <div class="input-block col-6">
                        <label for="password" class="auth-label">Пароль:</label>
                        <input type="password" name="password" id="password" class="auth-input" required>
                    </div>
                    
                    <div class="input-block col-6">
                        <label for="confirmPassword" class="auth-label">Подтвердите пароль:</label>
                        <input type="password" name="confirmPassword" id="confirmPassword" class="auth-input" required>
                    </div>
                    <div class="error-message" id="error"></div>

                </div>

                <div class="rules-block">
                    <input type="checkbox" id="rulesCheckbox" class="rules-agree" required>
                    <label for="rulesCheckbox" class="auth-label ">Согласен с правилами регистрации</label>
                </div>

                <button class="auth-button" type="submit">Зарегистрироваться</button>

                <div class="auth-link">Есть аккаунт? <a href="{% url 'login' %}">Войти</a></div>
            </form>
        </div>
    </section>
    <script>

    </script>
{% endblock %}
